body,html{margin:0;padding:0;text-align:center;
	font-family : "DejaVu Sans",Helvetica,Ariel,YuGothic,'游ゴシック',"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"MS Gothic",'IPAゴシック',sans-serif;
	background-color:#46b;
	background-image: linear-gradient(rgba(255,255,255,.3) 2px, transparent 2px),
	linear-gradient(90deg, rgba(255,255,255,.3) 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	color:#fff;
}
a {
	display:inline-block;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	font-size:xx-large;
	background-color:#f00;
	border-radius:.5em;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:2em;
	padding-right:2em;
	background-image:linear-gradient(to bottom, rgba(255,255,255,.17), rgba(255,255,255,.23) 40%, transparent 40%),
		linear-gradient(to bottom, #ff8791, #b50010);
	background-size:auto, auto;
	background-position:0px 0px, 0px 0px;
	text-align:center;
	margin:.5em;
	box-shadow:0px 8px 16px rgba(40,40,40,40);
}
a:hover {
	box-shadow:0px 16px 32px rgba(40,40,40,40);
}
a:active {
	box-shadow:none;
	background-image:linear-gradient(to top, #aa3030, #b50010);
}
.buttondiv {
	margin:1em;
	margin-top:2em;
	margin-bottom:2em;
}
.errordiv span {
	display:none;
	color:#f00;
}
.commmsg {
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	height:3em;
	width:3em;
	font-size:xx-large;
	animation:spin 4s linear infinite;
}
.resmsg {
	margin-top:3em;
	font-size:xx-large;
}
@keyframes spin {100% {transform:rotate(360deg);}}
#scrwait,#scrres{display:none;}

